@charset "UTF-8";
h1 {
    text-align: center;
}
table {
    margin: 0 auto;
}
td {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
td:hover {
    background-color: aqua;
}

#currentPosition {
    background-color: red;
}

.painted {
    background-color: pink;
}

.text-center {
    text-align: center;
}